{{ define "main" }}
    {{ partial "neon-particles.html" . }}


    <div class="post-content">
        <h1 class="post-title">
            {{ .Title | markdownify }}
        </h1>

        <div class="post-meta">
            <span class="post-author"> {{- .Params.Author | default "Ishmael42" -}} </span>
            <span class="post-author"> sivaram.asdf@gmail.com </span>
        </div>

        <hr />

        {{ .Summary }}

        {{ $paginator := .Paginate (.Pages.ByDate.Reverse) }}

        <div class="posts">
            {{ range $paginator.Pages }}
                <article class="post on-list">
                    <h2 class="post-title">
                        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                    </h2>
                    <div class="post-meta">
                        {{- if .Date -}}
                            <time class="post-date">
                                {{- partial "post-date" . -}}
                            </time>
                        {{- end -}}
                        <span class="post-author">
                            {{- .Params.Author | default "Ishmael42" -}}
                        </span>
                    </div>

                    {{ if .Params.tags }}
                        <span class="post-tags">
                            {{ range .Params.tags }}
                                #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                                    {{- . -}} </a
                                >&nbsp;
                            {{ end }}
                        </span>
                    {{ end }}


                    <div class="post-content">
                        {{ if .Params.showFullContent }}
                            {{ .Content }}
                        {{ else if .Description }}
                            <p>{{ .Description | markdownify }}</p>
                        {{ else }}
                            {{ .Summary }}
                        {{ end }}
                    </div>
                </article>
            {{ end }}

            {{ partial "pagination.html" . }}
        </div>
    </div>
{{ end }}

