{{ define "main" }}
    {{ $isWriteups := eq .RelPermalink "/writeups/" }}
    {{ $headingTag := cond $isWriteups "h2" "h3" }}
    {{ $openHeadingTag  := printf "<%s class=post-title>" $headingTag | safeHTML }}
    {{ $closeHeadingTag := printf "</%s>" $headingTag  | safeHTML }}

    {{- if not $isWriteups -}}
        <h1 style="margin-block-end: 0;">{{ .Title }}</h1>
    {{- end -}}

    {{ with .Content }}
        <div class="index-content">
            {{ . }}
        </div>
    {{ end }}
    <div class="posts">
        {{ $paginator := .Paginate .Pages.ByDate.Reverse }}

        {{- if not $isWriteups -}}
            <h2 style="margin-block-end: 0;">Solves</h2>
        {{- end -}}

        {{ range $paginator.Pages }}

            <article class="post on-list">
                {{ $openHeadingTag }}
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                {{ $closeHeadingTag }}


                <div class="post-meta">
                    {{- if .Date -}}
                        <time class="post-date">
                            {{- partial "post-date" . -}}
                        </time>
                    {{- end -}}
                    <span class="post-author">
                        {{- .Params.Author | default "Ishmael42" -}}
                    </span>
                </div>

                {{ if .Params.tags }}
                    <span class="post-tags">
                        {{ range .Params.tags }}
                            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                                {{- . -}} </a
                            >&nbsp;
                        {{ end }}
                    </span>
                {{ end }}

                {{ partial "cover.html" . }}


                <div class="post-content">
                    {{ if .Params.showFullContent }}
                        {{ .Content }}
                    {{ else if .Description }}
                        <p>{{ .Description | markdownify }}</p>
                    {{ else }}
                        {{ .Summary }}
                    {{ end }}
                </div>

            </article>
        {{ end }}

        {{ partial "pagination.html" . }}
    </div>
{{ end }}
