{{- $result := (transform.HighlightCodeBlock .).Wrapped -}}

{{ $id := delimit (shuffle (seq 1 9)) "" }}
{{ $open := default .Attributes.Open "open" }}

{{- if .Type -}}
<details id="{{ $id }}" class="code collapsable-code" open>
    <summary title="Click to expand" style="display: flex;justify-content: space-between;">
        <span class="collapsable-code__title">
            {{- if .Attributes.title -}}
                {{ (printf "%s — %s" .Type  .Attributes.title) | upper }}
            {{- else -}}
                {{ .Type | upper }}
            {{- end -}}
        </span>
        <button class="copy-button" data-copy-target="{{ $id }}">Copy</button>
    </summary>
    {{- $result -}}
</details>

{{- else -}}
<div id="{{ $id }}" class="collapsable-code">
    <div style="display: flex;justify-content: space-between;">
        <span class="collapsable-code__title">TEXT</span>
        <button class="copy-button" data-copy-target="{{ $id }}">Copy</button>
    </div>
    {{- $result -}}
</div>

{{- end -}}
